<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="database.properties"/>
    <context:component-scan base-package="edu.neo4j.workshop"/>

    <bean id="graphDatabaseService" factory-bean="graphDatabaseFactory" factory-method="get"/>

    <bean id="graphDatabaseFactory" class="edu.neo4j.workshop.GraphDatabaseFactory">
        <constructor-arg value="${dbPath}"/>
    </bean>

    <bean id="peopleUpload" class="edu.neo4j.workshop.socialnetwork.uploading.PeopleUpload">
        <constructor-arg value="${peopleList}"/>
    </bean>

    <bean id="schoolUpload" class="edu.neo4j.workshop.socialnetwork.uploading.SchoolUpload">
        <constructor-arg value="${schoolList}"/>
    </bean>

    <bean id="workCategoryUpload" class="edu.neo4j.workshop.socialnetwork.uploading.WorkCategoryUpload">
        <constructor-arg value="${workCategoryList}"/>
    </bean>

    <bean id="knowsUpload" class="edu.neo4j.workshop.socialnetwork.uploading.KnowsUpload">
        <constructor-arg index="0" value="${knowsAssociatesList}"/>
        <constructor-arg index="1" ref="personDAO"/>
    </bean>

    <bean id="studyingRelationshipUpload" class="edu.neo4j.workshop.socialnetwork.uploading.StudyingRelationshipUploadImpl">
        <constructor-arg index="0" value="${studying.csv}"/>
        <constructor-arg index="1" ref="personDAO"/>
        <constructor-arg index="2" ref="schoolDAO"/>
    </bean>

    <bean id="graduatedRelationshipUpload" class="edu.neo4j.workshop.socialnetwork.uploading.GraduatedRelationshipUploadImpl">
        <constructor-arg index="0" value="${graduated.csv}"/>
        <constructor-arg index="1" ref="personDAO"/>
        <constructor-arg index="2" ref="schoolDAO"/>
    </bean>

    <bean id="workOnRelationshipUpload" class="edu.neo4j.workshop.socialnetwork.uploading.WorkOnRelationshipUpload">
        <constructor-arg index="0" value="${workon.csv}"/>
        <constructor-arg index="1" ref="personDAO"/>
        <constructor-arg index="2" ref="workCategoryDAO"/>
    </bean>
</beans>